@font-face {
    font-family: 'EuroStyle';
    src: url('../../webfonts/eurostyle/EuroStyle.woff2') format('woff2'),
         url('../../webfonts/eurostyle/EuroStyle.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'EuroStyle';
    src: url('../../webfonts/eurostyle/EuroStyle-Bold.woff2') format('woff2'),
         url('../../webfonts/euroStyle/Eurostyle-Bold.woff') format('woff');
    font-weight: 600;
    font-style: 600;

}
