@font-face {
    font-family: 'FRAC';
    src: url('../../webfonts/FRAC-bold.woff2') format('woff2'),
         url('../../webfonts/FRAC-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
