@font-face {
    font-family: 'Gotham';
    src: url('../../webfonts/gotham.woff2') format('woff2'),
         url('../../webfonts/gotham.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
