@font-face {
    font-family: "Slussen";
    font-style: normal;
    src: url("../../webfonts/slussen/Slussen-Thin.woff2") format("woff2");
    src: url("../../webfonts/slussen/Slussen-Thin.woff") format("woff");
    font-weight: 100;
}
@font-face {
    font-family: "Slussen";
    font-style: normal;
    src: url("../../webfonts/slussen/Slussen-Extralight.woff2") format("woff2");
    src: url("../../webfonts/slussen/Slussen-Extra-light.woff") format("woff");
    font-weight: 200;
}
@font-face {
    font-family: "Slussen";
    font-style: normal;
    src: url("../../webfonts/slussen/Slussen-Light.woff2") format("woff2");
    src: url("../../webfonts/slussen/Slussen-Light.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: "Slussen";
    font-style: normal;
    src: url("../../webfonts/slussen/Slussen.woff2") format("woff2");
    src: url("../../webfonts/slussen/Slussen.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Slussen";
    font-style: normal;
    src: url("../../webfonts/slussen/Slussen-Semibold.woff2") format("woff2");
    src: url("../../webfonts/slussen/Slussen-Semibold.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "Slussen";
    font-style: normal;
    src: url("../../webfonts/slussen/Slussen-Bold.woff2") format("woff2");
    src: url("../../webfonts/slussen/Slussen-Bold.woff") format("woff");
    font-weight: 600;
}
@font-face {
    font-family: "Slussen";
    font-style: normal;
    src: url("../../webfonts/slussen/Slussen-Extrabold.woff2") format("woff2");
    src: url("../../webfonts/slussen/Slussen-Extrabold.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "Slussen";
    font-style: normal;
    src: url("../../webfonts/slussen/Slussen-Black.woff2") format("woff2");
    src: url("../../webfonts/slussen/Slussen-Black.woff") format("woff");
    font-weight: 800;
}
